@model IEnumerable<AppView.ViewModels.LoaiPhongVM>

<div id="rooms">
    <div class="container">
        <div class="section-header">
            <h2>Our Rooms</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in mi libero.</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                @foreach (var loaiPhong in Model)
                {
                    <div class="row">

                        <div class="col-md-3">
                            <div class="room-img">
                                <div class="box12">
                                    <img src="~/img/room/@loaiPhong.Anh">
                                    <div class="box-content">
                                        <h3 class="title">@loaiPhong.TenLoaiPhong</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="room-des">
                                <h3><a href="#">@loaiPhong.TenLoaiPhong</a></h3>
                                <p>@loaiPhong.MoTa</p>
                                <ul class="room-icon">
                                    @foreach (var dichVu in loaiPhong.DichVus)
                                    {
                                        @if (dichVu.TrangThai)
                                        {
                                            <li>
                                                <img style="margin-right: 5px; height: 40px; width: 40px;" src="~/img/icon/@dichVu.Hinh" alt="" />
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="room-rate">
                                <h3>From</h3>
                                <h1 style="color: #FFD700; font-size: 30px; font-weight: 900; padding: 15px 0; background: #353535;">
                                    @loaiPhong.GiaGiamGia
                                    <p style="text-decoration: line-through; text-decoration-thickness: 3px; color: lightgray; text-decoration-color: grey; font-size: 20px; font-weight: 900; background: #353535;">
                                        @loaiPhong.GiaGoc
                                    </p>
                                </h1>
                                <a href="#">Book Now</a>
                            </div>
                        </div>

                    </div>
                    <hr>
                }

                <!-- Pagination -->
               @*  <div class="pagination">
                    @if (Model.CurrentPage > 1)
                    {
                        <a href="@Url.Action("Index", new { page = Model.CurrentPage - 1 })">Previous</a>
                    }

                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <a href="@Url.Action("Index", new { page = i })" class="@(i == Model.CurrentPage ? "active" : "")">@i</a>
                    }

                    @if (Model.CurrentPage < Model.TotalPages)
                    {
                        <a href="@Url.Action("Index", new { page = Model.CurrentPage + 1 })">Next</a>
                    }
                </div> *@
            </div>
        </div>
    </div>
</div>
