@model IEnumerable<AppData.WelCome>

@{
    ViewData["Title"] = "WelCome Index";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<p class="text-center mb-4" style="margin-left:50%">
    <a class="btn btn-primary" asp-action="Create">
         Create New
    </a>
</p>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Wel)</th>
            <th>@Html.DisplayNameFor(model => model.NoiDung)</th>
            <th>@Html.DisplayNameFor(model => model.TrangThai)</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Wel)</td>
                <td>@Html.DisplayFor(modelItem => item.NoiDung)</td>
                <td>@Html.DisplayFor(modelItem => item.TrangThai)</td>
                <td class="text-center">
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.ID">
                          Edit
                    </a>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.ID">
                          Details
                    </a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.ID">
                          Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    
}
